{% extends 'base.html.twig' %}

{% block title %}Lab'venture - wiki{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-nowrap justify-content-center mb-2">
        <h1 class="text-white">WikiWeed (<span id="product-length">{{ products | length }}</span>)</h1>
        {% if products | length > 0 %}
            <button type="button" id="search-btn" class="button button--icon button--small ms-2 p-1"><i class="fas fa-search"></i></button>
            <button type="button" id="search-close" class="button button--icon button--small p-1 ms-2 d-none"><i class="fas fa-times"></i></button>
        {% endif %}
    </div>
    <div class="position-relative" id="div-content-search">
        <div class="d-flex flex-row justify-content-center mb-2" id="search-bar">
            <input class="p-1" type="search" id="search-product" placeholder="Rechercher...">      
        </div>
    </div>
    <div>
        {% if products | length > 0 %}
            {% if products | length > 1 %}
                <div class="show d-flex flex-row flex-wrap justify-content-around mt-3" id="show-products">
            {% else %}
                <div class="show d-flex flex-row flex-wrap justify-content-center mt-3" id="show-products">
            {% endif %}
                {% include "product/_search.html.twig" %}
            </div>
        {% else %}
            <div class="row align-items-center text-center p-4 mb-5">
                <div class="col p-3 ms-auto me-auto align-self-center second-bg border-other-color rounded font-color">  
                    <p>Oh non ! Aucun produit n'a étais recensé dans le wiki du Labo :/</p>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        $('#div-content-search').hide();
    </script>
{% endblock %}
