{% extends 'base.html.twig' %}

{% block title %}Labventure - Connexion{% endblock %}

{% block body %}
    <div class="d-inline-flex flex-column justify-content-center auth-div">
        <form method="post">
            <div class="ms-auto me-auto second-bg border-other-color rounded font-color box-auth">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h2 class="h3 mb-3 text-white text-center">Connecte-toi !</h2>
                <label for="inputUsername">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="ms-auto me-auto form-control mb-3" autocomplete="username" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="ms-auto me-auto form-control mb-3" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </div>
            <button class="button mt-5 mb-5" type="submit">Connexion au labo</button>
        </form>
        <a href="{{ path("app_register") }}" class="link-disabled"><p class="call-action ms-auto me-auto">Inscription</p></a>
        <a href="{{ path("app_forgot_password_request") }}" class="link-disabled"><p class="call-action call-action--lg ms-auto me-auto">Mot de passe oublié ?</p></a>
    </div>
{% endblock %}
