{% extends 'base.html.twig' %}

{% block title %}Labventure - Inscription{% endblock %}

{% block body %}
    <div class="d-inline-flex flex-column justify-content-center auth-div">
        {{ form_start(registrationForm) }}
            <div class="ms-auto me-auto second-bg border-other-color rounded font-color box-auth">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h2 class="h3 mb-3 text-white text-center">Inscris-toi !</h2>

                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                    {{ form_errors(registrationForm.username) }}
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                    {{ form_errors(registrationForm.email) }}
                    {{ form_label(registrationForm.password) }}
                    {{ form_widget(registrationForm.password, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                    {{ form_errors(registrationForm.password) }}
                    {{ form_label(registrationForm.confirmPassword) }}
                    {{ form_widget(registrationForm.confirmPassword, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                    {{ form_errors(registrationForm.confirmPassword) }}

            </div>
            <button type="submit" class="button mt-4 mb-4">Rejoindre le labo</button>
        {{ form_end(registrationForm) }}
        <a href="{{ path("app_login") }}"><p class="call-action ms-auto me-auto mb-0">Connexion</p></a>
    </div>
{% endblock %}
