{% extends 'base.html.twig' %}

{% block title %}Labventure - Réinitialisation du mot de passe demandée{% endblock %}

{% block body %}
    <div class="d-inline-flex flex-column justify-content-center auth-div">
        <div class="ms-auto me-auto second-bg border-other-color rounded font-color box-auth">
            <p>
                Si l'adresse email fournie est valide, un mail de confirmation vous a était envoyé. Ouvrez le lien pour valider votre inscription. Ce lien est valide {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous n'avez pas reçu de mail, vérifier le dossier spam, ou alors <a href="{{ path('app_forgot_password_request') }}">Rééssayer</a>.</p>
        </div>
    </div>
{% endblock %}
