{% extends 'base.html.twig' %}

{% block title %}Labventure - Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="d-inline-flex flex-column justify-content-center auth-div">
        {{ form_start(requestForm) }}
        <div class="ms-auto me-auto second-bg border-other-color rounded font-color box-auth">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h2 class="h3 mb-3 text-white text-center">Mot de passe oublié</h2>

            {{ form_label(requestForm.email) }}
            {{ form_widget(requestForm.email, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
            {{ form_errors(requestForm.email) }}

            <div>
                <strong>
                    Entrez votre adresse mail, un message vous serez envoyé pour confirmer votre inscription.
                </strong>
            </div>
        </div>
        <button class="button mt-5 mb-4">Envoyer l'email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
