{% extends 'base.html.twig' %}

{% block title %}Labventure - Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="d-inline-flex flex-column justify-content-center auth-div">
        {{ form_start(resetForm) }}
            <div class="ms-auto me-auto second-bg border-other-color rounded font-color box-auth">
            
                <h2 class="mb-3 text-white text-center">Réinitialiser le mot de passe</h2>

                {{ form_label(resetForm.password) }}
                {{ form_widget(resetForm.password, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                {{ form_errors(resetForm.password) }}
                {{ form_label(resetForm.confirmPassword) }}
                {{ form_widget(resetForm.confirmPassword, {"attr" : { "class" : "ms-auto me-auto form-control mb-3"}}) }}
                {{ form_errors(resetForm.confirmPassword) }}
            </div>
            <button class="button mt-5 mb-4">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
