@media (min-width: 768px){
    .box-auth {
        width: 50vw;
    }
    .call-action {
        width: 35%;
    }
    .show {
        height: 60vh;
    }
    .main-frame {
        width: 32%;
        min-width: 350px;
    }
    .card-product {
        min-height: 315px;
    }
    .main-frame--over {
        width: 80%;
    }
    .img-highlight {
        width: 30%;
    }
    .img-highlight--show {
        width: 16%;
    }
    .img-highlight--over {
        width: 20%;
    }
    .button--small {
        width: 5vw;
    }
    .button--return {
        position: absolute;        
    }
    .stars--large {
        font-size: 2em;
    }
    .item-inventory {
        width: 30vw;
    }
    .scrollable {
        height: 60vh;
    }
    .xxl-icon {
        font-size: 5em;
    }
    .tracking-infos {
        max-height: 14vh;
    }
    .product-preview {
        width: 20vw;
        height: 25vw;
    }
    .main-frame--wiki {
        height: 37vw;
    }
    .main-full-div {
        max-height: 37vw;
    }
    .form-wiki {
        width: 70%;
    }
}