:root {
    --main-bg-color: #fff;
    --second-bg-color: #2a9d8f;
    --main-font-color: #504b43;
    --second-font-color: #440381;
    --other-color: #7d83ff;
}
*::-webkit-scrollbar-track {
    background-color: #FFF;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #7d83ff;
    border: 1px solid #fff;
    border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
    line-height: normal;
}
a, a:link, a:visited, a:hover {
    color: #fff !important;
    text-decoration: none !important;
}
a.link {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
}
button {
    border: none;
    background: transparent;
}
li {
    list-style: none;
}
li > div > div{
    justify-content: center;
}

li>div>div>div>input {
    width: 70% !important;
    margin: 0 auto 0 auto;
}

html,body {
    width: 100%;
    height: 100%;
}
#body {
    background-color: var(--main-font-color);
}
header > a > img{
    margin: 1em 0 0.5em 0;
    height: 20vmin;
    width: 80vmin;
}
.box-auth {
    box-shadow: var(--second-bg-color) 0px 5px 15px;
    padding: 1em;
    width: 90vw;
}
.auth-div {
    margin: 2em 0 0;
}
.auth-div > form > div > input {
    width: 80%;
}
.button {
    border: 1px solid #fff;
    background-color: #7D83FF;
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.button--icon {
    padding: 0 1em;
    font-size: 0.8em;
    width: 15vw;
    align-self: baseline;
}
.button--small {
    width: 10vw;
    align-self: center;
}
.button--nobg {
    background-color: #fff;
}
.button:hover {
    background-color: rgba(125, 131, 255, 0.5);
}
.call-action {
    text-decoration: underline;
    color: var(--second-bg-color);
    font-weight: bold;
    width: 55%;
}
.call-action:hover {
    color: #fff;
}
label {
    width: auto !important;
}
.flex-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.show {
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-frame {
    border-radius: 10px;
    background-color: #D5D6F2;
    border: 3px solid #7D83FF;
    width: 100%;
    min-height: 300px;
}
.main-frame--white {
    background-color: #fff;
}
.img-highlight {
    border-radius: 10px;
    width: 40%;
    object-fit: cover;
    border: 2px solid #7D83FF;
}
.link-bottom {
    border-bottom: none !important;
    border-radius: 10px 10px 0 0;
}
.link-top {
    border-top: none !important;
    border-radius: 0 0 10px 10px;
}
.link-all {
    border-bottom: none !important;
    border-top: none !important;
    border-radius: 0;
}
.publish-frame {
    background-color: #E5E5E5;
    border-radius: 10px;
}
.stars--large {
    font-size: 1em;
}
.div-btn-switch-add {
    background-color: #fff;
    height: 100%;
    border-radius: 0 10px 0 10px;
    width: 20vw;
}
.div-btn-switch-add--deploy {
    border-radius: 0 10px 0 0;
}
.item-inventory {
    border-radius: 10px;
    background-color: #fff;
    width: 95vw;
    height: auto;
}
.scrollable {
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.half-stars {
    font-size: 1.5em !important;
}
.transformClose {
    transform: rotate(45deg);
    transition: transform 0.5s;
}
.transformOpen {
    transform: rotate(90deg);
    transition: transform 0.5s;
}
.add-deploy {
    background-color: #fff;
}
.input-add {
    background-color: #D5D6F2 !important;
    border-color: #504b43 !important;
}
#list-order-product {
    background-color: #7D83FF;
    opacity: 0.75;
    height: 100vh;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
}
#order-list-products {
    overflow-y: scroll;
    height: 99%;
}
.xxl-icon {
    font-size: 3em;
}
.product-preview {
    width: 60vw;
    height: 65vw;
    overflow: hidden;
}
.main-frame--wiki {
    height: 160vw;
}
.main-frame--show {
    min-height: 0;
}
.form-wiki {
    width: 100%;
}
#link-disabled {
    opacity: 0.85;
}
.main-full-div {
    max-height: 165vw;
}
.me-6 {
    margin-right: 3rem;
}

/* template */

.second-bg {
    background-color: var(--second-bg-color);
}
.secondFont-bg {
    background-color: var(--second-font-color);
}
.other-bg {
    background-color: var(--other-color);
}
.main-bg {
    background-color: var(--main-bg-color);
}
.true-bg {
    background-color: #5cdf3b;
}
.false-bg {
    background-color: #f75454;
}


.border-other-color {
    border: solid 2px var(--other-color);
}
.border-danger {
    border: solid 4px rgb(194, 87, 87);
}
.border-none {
    border: none;
}

.font-color  {
    color: var(--main-font-color);
}
.second-font-color {
    color: var(--second-bg-color);
}

.other-font-color {
    color: var(--other-color);
}

.second-color {
    color: var(--second-font-color);
}

.danger-color {
    color: rgb(194, 87, 87);
    font-weight: bold;
}

.success-color {
    color: rgb(86, 192, 100);
    font-weight: bold;
}



.white-text {
    color: #fff;
}

.boolFalse {
    background-color: #f75454;
    color: #fff;
    padding: 1% 3% 1% 3%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.boolTrue {
    background-color: #5cdf3b;
    color: #fff;
    padding: 1% 3% 1% 3%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


textarea {
    height: 100px;
    overflow: scroll;
}




.black-text {
    color: #000000;
}

.order-slide {
    opacity: 0.6;
}

.tracking-infos {
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ordered {
    color:rgb(209, 24, 24);
}
.processing {
    color: rgb(255, 180, 67);
}
.delivered {
    color: rgb(28, 173, 59);
}

.underline {
    text-decoration: underline !important;
    text-underline-offset: 5px;
    text-decoration-color: var(--second-font-color) !important;
}