.nav-circle {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}
.nav-button {
    opacity: 0.7;
    z-index: 2;
    visibility: visible;
    background-color: var(--main-font-color);
    border: 1px solid #000;
    transform-origin: center;
}
.nav-deploy {
    z-index: 1;
    visibility: hidden;
    transition: width 1s, height 1s;
    background-color: var(--other-color);
    border: 1px solid var(--second-font-color);
}
.nav-deployed {
    width: 50vw;
    height: 50vw;
    transition: width 0.5s, height 0.5s;
}
@media (min-width: 576px) {
    .nav-circle {
        width: 15vw;
        height: 15vw;
    }
    .nav-deployed {
        width: 30vw;
        height: 30vw;
    }
}

@media (min-width: 1200px) {
    .nav-circle {
        width: 5vw;
        height: 5vw;
    }
    .nav-deployed {
        width: 10vw;
        height: 10vw;
    }
}