<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer définitivement ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="button button--icon p-1 danger-color align-item-top"><i class="fas fa-trash-alt fa-2x"></i></button>
</form>
