{{ form_start(form, {"attr" : { "id" : "form-add"}}) }}
    <div class="flex-row d-flex justify-content-between">
        {{ form_errors(form) }}
        <div class="col-5 p-0">
            {{ form_label(form.name) }}</br>
            {{ form_widget(form.name, {"attr" : { "class" : "col-12 input-add"}}) }}
            {{ form_errors(form.name) }}

        </div>
        <div class="col-5 p-0">
            {{ form_label(form.amount) }}</br>
            {{ form_widget(form.amount, {"attr" : { "class" : "col-12 input-add"}}) }}
            {{ form_errors(form.amount) }}
        </div>
    </div>
    
    
    <button type="submit" class="button mt-3">Ajouter</button>

{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest':false}) }}
