{% if products | length > 0 %}
    {% for product in products %}
        {% if product.medias | length > 0 %}
            <a href="{{ path('app_product_show',{'id' : product.id }) }}">
                <div class="main-frame mb-4 p-1 pb-3 pb-md-5 card-product">
                    <div class="d-flex flex-row flex-nowrap justify-content-around h-75">
                        {% if "http" in product.medias.path  %}
                            <img src="{{ product.medias.path }}" class="img-highlight mt-3" alt="image du produit">
                        {% else %}
                            <img src="{{ asset('medias/upload/' ~ product.medias.path ) }}" class="img-highlight mt-3" alt="image du produit">
                        {% endif %}
                        <div class="d-flex flex-column flex-nowrap w-50">
                            <strong><p class="font-color">{{ product.name }}</p></strong>
                            <p class="font-color">{{ product.typeStr }}</p>
                        </div>
                    </div>

                    <div class="mt-3">
                        {% include "shared/_stars.html.twig" %}
                    </div>
                    <p class="text-end mt-lg-4 me-3">Ajouté le {{ product.createdAt | date("d/m/Y") }}</p>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    <p>Désolé aucun produit ne correspond à votre recherche :/</p>
{% endif %}

{% block javascripts %}
    <script type="text/javascript">
        $('#product-length').html("{{products | length }}");
    </script>
{% endblock %}
            