{% extends 'base.html.twig' %}

{% block title %}Ajouter au wiki
{% endblock %}


{% block body %}
    <div class="main-frame main-frame--over main-frame--wiki scrollable p-1 ms-auto me-auto">
        <div class="d-flex flex-row flex-nowrap justify-content-start align-items-center">
            <a href=" {{app.request.headers.get('referer') }}"><p class="button button--icon button--small p-1"><i class="fas fa-long-arrow-alt-left fa-2x"></i></p></a>
            <h1 class="text-start mb-4 ms-auto me-auto">Ajouter au wiki</h1>
        </div>
        <hr class="m-0 mb-3"></hr>
        <h2>{{ product.name }}</h2>
        <div class="border-other-color ms-auto me-auto mt-3 d-flex flex-column justify-content-center product-preview" id="addWiki-preview">
            <img src="#" class="img-highlight w-100 border-none d-none" id="preview-wikiProduct">
            <i class="fas fa-camera fa-3x"></i>            
        </div>
        {{ form_start(form, {"attr" : {"class" : "form-wiki ms-auto me-auto mt-4"}}) }}

        {% if error.media is defined %}
            <p class="danger-color mt-3 mb-0">{{ error.media }}</p>
            {{ form_widget(form.medias, {"attr" : {"class" : "mt-2 border-danger", "onchange" : "previewImage(this)", "data-preview" : "addWiki-preview"}}) }}
        {% else %}
            {{ form_widget(form.medias, {"attr" : {"class" : "mt-2", "onchange" : "previewImage(this)", "data-preview" : "addWiki-preview"}}) }}
        {% endif %}

        {% if error.rate is defined %}
            <p class="danger-color mt-3 mb-0">{{ error.rate }}</p>
            <div class="mt-4 border-danger">
        {% else %}
            <div class="mt-4">
        {% endif %}

        {% for i in 1..10 %}
            <p class="d-inline-flex"><i class="far fa-star stars" id="star-{{ i }}"></i></p>
        {% endfor %}       
    </div>
    <div>
        {{ form_widget(form.rate, {"attr" : {"class": "d-none"}}) }}
        {{ form_widget(form.type, {"attr" : { "class" : "mt-3 justify-content-around d-flex flex-row"}}) }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.description, {"attr" : {"placeholder" : "Description", "class" : "mt-2"}}) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.name, {"attr" : {"class": "d-none"}}) }}
        {{ form_widget(form.amount, {"attr" : {"class": "d-none"}}) }}
        <button type="submit" class="mt-3 mb-3 button">Ajouter</button>
        {{ form_widget(form._token) }}
        {{ form_end(form, {"render_rest" : false})}}
    </div>

    <script>
        $('#addWiki-preview').click(function() {
            $('#product_medias').click();
        })
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rate.js') }}"></script>
{% endblock %}