{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="main-frame main-frame--over main-frame--wiki scrollable p-1 ms-auto me-auto">
        <div class="d-flex flex-row flex-nowrap justify-content-start align-items-center">
            <a href=" {{app.request.headers.get('referer') }}"><p class="button button--icon button--small p-1"><i class="fas fa-long-arrow-alt-left fa-2x"></i></p></a>
            <h1 class="text-start mb-4 ms-auto me-auto">Modifier le produit</h1>
        </div>
        <hr class="m-0 mb-3"></hr>
        <h2>{{ product.name }}</h2>
        <div class="border-other-color ms-auto me-auto mt-3 d-flex flex-column justify-content-center product-preview">
            <img src="{{ asset("medias/upload/" ~ product.medias.path)}}" class="img-highlight w-100 border-none">
        </div>

        {# {% if product.medias | length > 0 %}
            <div class="img border-other-color ms-auto me-auto mt-3 preview" id="addWiki-preview" style="background-image: url('{{ asset("medias/upload/" ~ product.medias.path)}}')">
        {% else %}
            <div class="img border-other-color ms-auto me-auto mt-3 preview" id="addWiki-preview" style="background-image: url('{{ asset("medias/upload/default.jpg")}}')">
        {% endif %}
        </div> #}
        {{ form_start(form, {"attr" : { "novalidate" : true, "class" : "form-wiki ms-auto me-auto mt-4"}}) }}
        {{ form_widget(form.medias, {"attr" : { "class" : "mt-2", "onchange" : "previewImage(this)", "data-preview" : "addWiki-preview", "required" : "false"}}) }}
        {{ form_widget(form.type, {"attr" : { "class" : "mt-3 d-inline-flex justify-content-between w-75"}}) }}
        {{ form_widget(form.description, {"attr" : {"placeholder" : "Description", "class" : "mt-2"}}) }}
        {{ form_widget(form.name, {"attr" : {"class": "d-none"}}) }}
        {{ form_widget(form.amount, {"attr" : {"class": "d-none"}}) }}
        <button type="submit" class="mt-3 mb-3 button">Mettre à jour</button>
        {{ form_end(form, {"render_rest" : false})}}
    </div>
{% endblock %}

