{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="row align-items-center text-center p-4">
        <div class="col p-3 pt-0 ms-auto me-auto align-self-center second-bg border-other-color rounded font-color" id="box-login">
            <div class="row mt-1 border-bottom text-white mb-3">
                <div class="col border-end secondFont-bg p-2 rounded btn-switch" id="switch-inventory">
                    <h4>Inventaire</h4>
                </div>
                <div class="col secondFont-bg p-2 rounded btn-switch" id="switch-order">
                    <h4>Commande</h4>
                </div>
            </div>
            <div id="box-inventory">
                {{ include('product/_form.html.twig') }}
            </div>
            {# <div class="d-none" id="box-order">
                <h1>Ajoute une commande !</h1>
                <hr></hr>
                {{ include('order/_form.html.twig') }}
            </div> #}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/order.js') }}"></script>
{% endblock %}