{% extends 'base.html.twig' %}

{% block title %}Produit - Notes{% endblock %}

{% block body %}
    <div class="main-frame main-frame--over ms-auto me-auto link-bottom">
        <div class="d-flex flex-row flex-nowrap">
            <a href=" {{app.request.headers.get('referer') }}"><p class="button button--icon button--small justify-content-start ms-2 mt-2 p-1"><i class="fas fa-long-arrow-alt-left fa-2x"></i></p></a>
            <h1 class="font-color ms-auto me-auto">{{ product.name }}</h1>
        </div>

        {% if "http" in product.medias.path  %}
            <img src="{{ product.medias.path }}" class="img-highlight img-highlight--over mt-3" data-magnify-src="{{ product.medias.path }}" alt="image du produit">
        {% else %}
            <img src="{{ asset('medias/upload/' ~ product.medias.path ) }}" class="img-highlight img-highlight--over mt-3" alt="image du produit">
        {% endif %}

        <div class="mt-5">
            {% if userRate != null %}
                {% for i in 1..userRate.rate %}
                    <p class="d-inline-flex">
                        <i class="fas fa-star stars fa-2x half-stars white-text" id="star-{{ i }}"></i>
                    </p>
                {% endfor %}
                {% if userRate.rate < 10 %}
                    {% for i in 1..10-userRate.rate %}
                        <p class="d-inline-flex">
                            <i class="far fa-star stars fa-2x half-stars" id="star-{{ userRate.rate + i }}"></i>
                        </p>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for i in 1..10 %}
                    <p class="d-inline-flex">
                        <i class="far fa-star stars fa-2x half-stars" id="star-{{ i }}"></i>
                    </p>
                {% endfor %}
            {% endif %} 
            <div class="text-center container-fluid">
                {{ form_start(form) }}
                    {{ form_widget(form, {"attr" : {"class": "d-none"}}) }}
                    <button type="submit" class="mt-3 mb-3 button">Changez ma note</button>
                {{ form_end(form, {"render_rest" : false}) }}
            </div>
        </div>
    </div>
    <div class="main-frame main-frame--over main-frame--white ms-auto me-auto p-2 link-top">
        <strong><p class="text-start">Notes</p></strong>
        {% for rate in rates %}
            {% if rate.user != app.user %}
                <div class="text-start publish-frame m-0 mb-3 p-3">
                    <h2 class="ms-4">{{ rate.user.username }}</h2>
                    <div class="mt-3 ms-2 me-3">
                        {% for i in 1..rate.rate %}
                            <p class="d-inline-flex">
                                <i class="fas fa-star other-font-color"></i>
                            </p>
                        {% endfor %}
                        {% if rate.rate < 10 %}
                            {% for i in 1..10-rate.rate %}
                                <p class="d-inline-flex black-text">
                                    <i class="far fa-star"></i>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {# <div class="second-bg p-3 rounded show">
        <div class="container-fluid text-center">
            <h1 class="text-white">{{ productName }}</h1>
            <hr></hr>
            <h3 class="font-color">Votre note</h3>
            <div class="container-fluid p-0 mt-3 text-center">
                {% if userRate != null %}
                    {% for i in 1..userRate.rate %}
                        <p class="d-inline-flex">
                            <i class="fas fa-star stars white-text" id="star-{{ i }}"></i>
                        </p>
                    {% endfor %}
                    {% if userRate.rate < 10 %}
                        {% for i in 1..10-userRate.rate %}
                            <p class="d-inline-flex">
                                <i class="far fa-star stars" id="star-{{ userRate.rate + i }}"></i>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for i in 1..10 %}
                        <p class="d-inline-flex">
                            <i class="far fa-star stars" id="star-{{ i }}"></i>
                        </p>
                    {% endfor %}
                {% endif %} 
            </div>
            <div class="text-end container-fluid">
                {{ form_start(form) }}
                    {{ form_widget(form, {"attr" : {"class": "d-none"}}) }}
                    <button type="submit" class="mt-3 mb-3 col-6 call-to-action">Changez ma note</button>
                {{ form_end(form, {"render_rest" : false}) }}
            </div>
            <hr></hr>
            {% for rate in rates %}
                {% if rate.user != app.user %}
                    <div class="text-start col-12 main-bg border-other-color rounded-pill m-0 mb-3 p-3">
                        <h2 class="ms-4">{{ rate.user.username }}</h2>
                        <div class="mt-3 ms-2 me-3">
                            {% for i in 1..rate.rate %}
                                <p class="d-inline-flex"><i class="fas fa-star other-font-color"></i></p>
                            {% endfor %}
                            {% if rate.rate < 10 %}
                                {% for i in 1..10-rate.rate %}
                                    <p class="d-inline-flex black-text"><i class="far fa-star"></i></p>
                                {% endfor %}                                        
                            {% endif %}
                        </div>
                    </div>           
                {% endif %}
            {% endfor %}
        </div>
    </div> #}

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/rate.js') }}"></script>
{% endblock %}
