{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="main-full-div">
        <div class="main-frame main-frame--over h-100 p-1 link-bottom ms-auto me-auto">
            <div class="d-flex flex-row flex-nowrap justify-content-around">
                {% if "http" in product.medias.path  %}
                    <img src="{{ product.medias.path }}" class="img-highlight img-highlight--show mt-3" alt="image du produit">
                {% else %}
                    <img src="{{ asset('medias/upload/' ~ product.medias.path ) }}" class="img-highlight img-highlight--show mt-3" alt="image du produit">
                {% endif %}
                <div class="d-flex flex-column flex-nowrap w-50">
                    <strong>
                        <h1 class="font-color">{{ product.name }}</h1>
                    </strong>
                    <p class="font-color">{{ product.typeStr }}</p>
                </div>
            </div>

            <div class="mt-3 stars--large">
                {% include "shared/_stars.html.twig" %}
            </div>
        </div>
        <div class="main-frame main-frame--over main-frame--show main-frame--white ms-auto me-auto p-2 link-all">
            <strong><p class="text-start">Reviews</p></strong>
            <div class="text-start publish-frame m-0 mb-3 p-3">
                <p>{{ product.description }}</p>
            </div>
        </div>
        <div class="main-frame main-frame--over main-frame--show p-1 link-top d-flex flex-row flex-nowrap justify-content-between ms-auto me-auto">
            <div class="d-flex flex-nowrap flex-row justify-content-around mt-2">
                <a href=" {{app.request.headers.get('referer') }}"><p class="button button--icon p-1"><i class="fas fa-long-arrow-alt-left fa-2x"></i></p></a>
                <a href="{{ path('app_product_edit', {'id': product.id}) }}"><p class="button button--icon p-1"><i class="far fa-edit fa-2x"></i></p></a>
                {% include('product/_delete_form.html.twig') %}  
            </div>
            <p class="mt-md-3 me-3">Ajouté le {{ product.createdAt | date("d/m/Y") }}</p>
        </div>
    </div>
{% endblock %}
