<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app-md.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	{% block stylesheets %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.mobile.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
        <script src="{{ asset('js/nav.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>

        {% block javascripts %}

        {% endblock %}
    </head>
    <body class="container-fluid" id="body">
        <header class="text-center">
            <a href="{{ path('app_home') }}"><img src="{{ asset('medias/logo.png') }}" alt="Le logo du site"></a>
            <strong><h1 class="other-font-color">Lab<span class="second-font-color">'</span>venture</h1></strong>
        </header>
        <div class="container-fluid text-center p-0">
            {{ include("shared/_nav.html.twig") }}
            {% block body %}{% endblock %}
        </div>

        <div class="position-absolute bottom-0 left-0 w-75 second-bg text-white border-danger text-center rounded p-1" id="link-disabled">
            <p>Désolé ! Ce lien est désactivé.</p>
        </div>

        <script>
            $('#link-disabled').toggle();    
        </script>
    </body>
</html>

