{% if app.user %}
    <div class="nav-circle nav-deploy flex-center justify-content-arround second-bg position-absolute bottom-0 end-0 white-text text-center mb-5 me-5 p-auto" id="nav-deploy">
        <div class="d-flex flex-column flex-nowrap justify-content-between h-100 p-1">
            <button type="button" class="text-white nav-link p-1" data-redirect="{{ path("app_logout") }}"><i class="fas fa-sign-out-alt fa-2x"></i></button>
            <button type="button" class="text-white p-1 link-disabled" data-redirect=""><i class="fas fa-cog fa-2x"></i></button>
        </div>
        <div class="d-flex flex-row flex-nowrap justify-content-between w-100 position-absolute p-1">
            <button type="button" class="text-white nav-link p-1" data-redirect="{{ path('app_user_inventory')}}"><i class="fas fa-shopping-bag fa-2x"></i></button>
            <button type="button" class="text-white nav-link p-1" data-redirect="{{ path('app_inventory-order') }}"><i class="fas fa-box fa-2x"></i></button>
        </div>
        <div class="flex-center position-absolute" id="nav">
            <div class="nav-circle nav-button flex-center secondFont-bg white-text">
                <button type="button" class="text-white z-20 m-0" id="btn-openNav"><i class="fas fa-bars fa-2x"></i></button>
                <button type="button" class="text-white z-20 d-none m-0 ms-auto me-auto" id="btn-closeNav"><i class="fas fa-times fa-2x"></i></button>
            </div>
        </div>
    </div>
{% endif %}

<script>
$( "#nav-deploy" ).draggable({
    addClasses: true,
    containment: "window"
});
</script>