{% if product.rates != 0 %}
	{% for i in 1..product.rates %}
		<p class="d-inline-flex">
			<i class="fas fa-star other-font-color"></i>
		</p>
	{% endfor %}
	{% if product.rates < 10 %}
		{% for i in 1..10-product.rates %}
			<p class="d-inline-flex black-text">
				<i class="far fa-star"></i>
			</p>
		{% endfor %}
	{% endif %}

	{% set validRate = 0 %}
	{% for rate in product.allRates %}
		{% if rate.user.username == app.user.username %}
			{% set validRate = 1 %}
		{% endif %}
	{% endfor %}

	{% if validRate == 1 %}
		<a href="{{ path('app_product_rate', {'id' : product.id}) }}">
			<p class="ms-2 d-inline-flex success-color underline">({{ product.allRates | length }})</p>
		</a>
	{% else %}
		<a href="{{ path('app_product_rate', {'id' : product.id}) }}">
			<p class="ms-2 d-inline-flex danger-color underline">({{ product.allRates | length }})</p>
		</a>
	{% endif %}
{% endif %}
