{{ form_start(formOrder, {"attr" : { "id" : "form-addOrder", "method" : "POST"}}) }}
    <div>
    {{ form_errors(formOrder) }}
        <div class="p-0 mb-2">
            {{ form_label(formOrder.plugName) }}
            {{ form_widget(formOrder.plugName,{"attr" : {"class" : "input-add"}}) }}
            {{ form_errors(formOrder.plugName) }}
        </div>
        <div class="p-0">
            <div class="d-flex flex-row flex-nowrap justify-content-center align-items-center">
                <h2>{{ form_label(formOrder.products) }}</h2>
                <h2 class="ms-1" id="count-product">(0)</h2>
                <button type="button" id="show-add-product"><i class="fas fa-angle-down ms-2 fa-2x" id="icon-count-product"></i></button>
            </div>
            {{ form_errors(formOrder.products) }}
            <ul id="list-products" class="second-font-color">

            </ul>
            <div class="d-flex flex-column flex-nowrap justify-content-center">
                <ul class="ps-0" id="products-fields-list" data-prototype="{{ form_widget(formOrder.products.vars.prototype, {'attr': {'class': 'd-flex flex-row flex-wrap'}})|e }}" data-widget-tags='<li id="li_products_"></li>' data-widget-counter="{{ formOrder.products|length }}">

                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn p-0 add-field" data-list-selector="#products-fields-list">
                <i class="far fa-plus-square fa-2x"></i>
            </button>
        </div>
        <div class="p-0 mb-2">
            {{ form_label(formOrder.price) }}
            {{ form_widget(formOrder.price,{"attr" : {"class" : "input-add"}}) }}
            {{ form_errors(formOrder.price) }}
        </div>
        <div class="p-0 mb-2">
            {{ form_label(formOrder.orderNumber) }}
            {{ form_widget(formOrder.orderNumber,{"attr" : {"class" : "input-add"}}) }}
            {{ form_errors(formOrder.orderNumber) }}
        </div>
    </div>
    
    
    <button type="submit" class="mt-3 mb-3 button">Suivre</button>
    
{{ form_widget(formOrder._token) }}
{{ form_end(formOrder, {'render_rest':false}) }}