<div id="inventory_order" class="d-flex flex-row flex-wrap p-3 justify-content-around scrollable align-items-start">
    {% if orders | length > 0 %}
        {% for order in orders | reverse %}
            <div class="item-inventory mb-3 p-2">
                <div class="d-flex flex-row flex-nowrap justify-content-between">
                    <div class="text-start">
                        <strong>
                            <p class="ms-2">{{ order.plugName }}</p>
                        </strong>
                    </div>
                    <div class="div-action d-flex flex-row flex-nowrap me-2">
                        <button class="button button--icon button--small button--nobg p-1 font-color">
                            {% if order.status == "ordered" %}
                                <i class="fas fa-box fa-2x ordered cardbox" id="ordered-{{ order.id }}" data-id="order-{{ order.id }}"></i>
                            {% elseif  order.status == "processing"%}
                                <i class="fas fa-box fa-2x processing cardbox" id="processing-{{ order.id }}" data-id="order-{{ order.id }}"></i>
                            {% else %}
                                <i class="fas fa-box fa-2x delivered cardbox" id="delivery-{{ order.id }}" data-id="order-{{ order.id }}"></i>                  
                            {% endif %}
                        </button>
                        <form method="post" action="{{ path('app_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la commande de {{ order.plugName }} de votre inventaire ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
                            <button class="button button--icon button--small button--nobg p-1 danger-color">
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-column flex-nowrap justify-content-around">
                    <p class="text-start ms-2">{{ order.price }}€</p>
                    <p class="text-end">{{ order.createdAt | date("d/m/Y") }}</p>
                </div>
                <div class="tracking-infos" id="tracking-{{ order.id }}">
            
                </div>
                <button type="button" class="text-center order-slide" id="order-slide-{{ order.id }}" data-transfert="{{ order.isTransfert }}" data-cardbox="{{ order.status }}-{{ order.id }}" data-delivery="{{ order.status }}"><i class="fas fa-angle-down fa-2x" id="order-slide-icon-{{ order.id }}"></i></button>
            </div>
        {% endfor %}
    {% else %}
        <div class="row align-items-center text-center p-4 mb-5">
            <div class="col p-3 ms-auto me-auto align-self-center second-bg border-other-color rounded font-color">
                <p>Oh non ! Aucune commande n'est recensée dans ton inventaire :/</p>
            </div>
        </div>
    {% endif %}

    <div class="top-0 left-0 w-100 text-center position-absolute order-products text-white d-none" id="list-order-product">
        <div class="text-end mb-3 pe-3">
            <i class="fas fa-times fa-3x close-order-products"></i>
        </div>
        <div id="order-list-products">
        
        </div>
    </div>

    <div class="position-absolute second-bg modal-inventory d-none rounded border p-2 m-1" id="transfert-products">
        <div class="text-end mb-3 pe-3 text-white">
            <i class="fas fa-times fa-3x close-transfert-products"></i>
        </div>
        <div>
            <p>Félicitation votre colis est normalement chez vous ! Souhaitez-vous transferez les produits dans votre inventaire ?</p>
        </div>
        <div class="d-flex flex-row flex-nowrap justify-content-around mb-3 text-white mt-4">
            <button type="button" class="button button--nobg close-transfert-products danger-color">NON</button>
            <button type="button" class="button" id="valid-transfert">OUI</button>
        </div>
    </div>
    <script src="{{ asset("js/orderInventory.js") }}"></script>
    <script>
        $(document).ready(function() {
            $('.tracking-infos').hide();
        })
    </script>
</div>
