<div id="inventory_products" class="d-flex flex-row flex-wrap p-3 justify-content-around scrollable">
	{% if products | length > 0 %}
		{% for product in products %}
			<div class="item-inventory mb-3 p-2">
				<div class="d-flex flex-row flex-nowrap justify-content-between">
					<div class="text-start">
						<strong><p class="m-0 me-2 mb-1">{{ product.name }}</p></strong>
					</div>
					<div class="div-action d-flex flex-row flex-nowrap me-2">
						<form method="post" action="{{ path('app_print', {'id': product.id}) }}" onsubmit="return confirm('Imprimer une étiquette pour {{ product.name }} ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('print' ~ product.id) }}">
							<button class="button button--icon button--small button--nobg p-1 font-color"><i class="fas fa-print fa-2x"></i></button>						
						</form>
						<form method="post" action="{{ path('app_product_deleteStock', {'id': product.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ product.name }} de votre inventaire ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
							<button class="button button--icon button--small button--nobg p-1 danger-color"><i class="fas fa-trash-alt fa-2x"></i></button>
						</form>
					</div>
				</div>
				<p class="text-start">{{ product.amount }}g</p>
				{% if product.isInWiki %}
						<div class="boolTrue col-3 ms-auto me-auto button" onclick="location.href='{{ path("app_product_getWiki", {"name" : product.name}) }}'">
							<p class="m-0">Wiki</p>
						</div>
				{% else %}
						<div class="boolFalse col-3 ms-auto me-auto button" onclick="location.href='{{ path('app_product_wiki', {"id" : product.id}) }}'">
							<p class="m-0">Wiki</p>
						</div>
				{% endif %}
				<p class="text-end mt-2">{{ product.createdAt | date("d/m/Y") }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="row align-items-center text-center p-4 mb-5">
			<div class="col p-3 ms-auto me-auto align-self-center second-bg border-other-color rounded font-color">
				<p>Oh non ! Aucun produit n'est recensé dans ton inventaire :/</p>
			</div>
		</div>
	{% endif %}
</div>

{% block javascripts %}
	<script type="text/javascript">
		$('.inventory-product-click').click(function() {
			$('#name-delete').html($(this).data('name'));
			$('#product_delete').val($(this).data('id'));
		})
	</script>
{% endblock %}