<p class="text-center">N°{{ order.orderNumber }}</p>
<hr></hr>
{% if error is defined %}
    <div class="text-center row p-3">
        <p>Une erreur s'est produite, vérifier la validité de votre numéro de suivie.</p>
    </div>
{% else %}

    {% for event in events %}
        <div class="text-center row p-3">
            <p>{{event.label}}</p>
            <p class="text-end">{{ event.date | date("d/m/Y")}}</p>
            <hr></hr>
        </div>
    {% endfor %}
{% endif %}

{% block javascripts %}
<script>
    var statut = "{{ order.status }}";
    var cardbox = $("#order-slide-{{ order.id }}").data("cardbox");
    switch (statut) {
        case "ordered":
            var color = "rgb(209, 24, 24)";
            break;
        case "processing":
            var color = "rgb(255, 180, 67)";
            break;
        case "delivery":
            var color = "rgb(28, 173, 59)";
            break;
    }
    $('#'+cardbox).css('color',color);

    if(statut == "delivery" && "{{ order.isTransfert }}" == 0) {
        $('#transfert-products').removeClass('d-none');
        $('#valid-transfert').data("order","{{ order.id }}");
    }
</script>
{% endblock %}