{% extends 'base.html.twig' %}

{% block title %}Labventure - inventaire{% endblock %}

{% block body %}
    <div class="main-frame main-frame--over ms-auto me-auto">
        <div class="justify-content-between w-100 d-flex flex-row flex-nowrap">
            <div class="text-center w-100 p-3 p-md-2">
                <strong><h1 class="ms-auto me-auto">Produits</h1></strong>
            </div>
            <div class="div-btn-switch-add p-3 pb-4 pt-4" id="div-btn-add">
                <button type="button" class="p-1 button button--icon button--small m-auto align-self-center" id="add-product"><i class="fas fa-plus fa-2x transformOpen" id="add-icon"></i></button>
            </div>
        </div>
        <div class="p-2 add-deploy position-relative" id="div-add-toggle">
            <div class="w-100 d-flex flex-row flex-nowrap justify-content-center" id="div-add-product">
                {{ include('product/_form.html.twig') }}
            </div> 
        </div>
        <div class="mt-3" id="div-inventory">

        </div>    
    </div>

    <script>
        $(document).ready(function () {
            $("#div-add-toggle").hide();
        })
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/inventory.js") }}"></script>
{% endblock %}