{% extends 'base.html.twig' %}

{% block title %}Labventure - Commande
{% endblock %}

{% block body %}
    <div class="main-frame main-frame--over ms-auto me-auto">
        <div class="justify-content-between w-100 d-flex flex-row flex-nowrap">
            <div class="text-center w-100 p-3 p-md-2">
                <strong>
                    <h1 class="ms-auto me-auto">Commande</h1>
                </strong>
            </div>
            <div class="div-btn-switch-add p-3 pb-4 pt-4" id="div-btnOrder-add">
                <button type="button" class="p-1 button button--icon button--small m-auto align-self-center" id="add-order">
                    <i class="fas fa-plus fa-2x transformOpen" id="add-icon"></i>
                </button>
            </div>
        </div>
        <div class="p-2 add-deploy position-relative" id="div-addOrder-toggle">
            <div class="w-100 d-flex flex-row flex-nowrap justify-content-center" id="div-add-product">
                {{ include('order/_form.html.twig') }}
            </div>
        </div>
        <div class="mt-3" id="div-inventory">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#div-addOrder-toggle").hide();
            $("#list-products").hide();
            var url = "/user/order";
            axios.get(url).then(function(response) {
                if(response.request.responseURL.search(url) != -1) {
                    $('#div-inventory').html(response.data);
                }else {
                    window.location.href = "/logout";
                }  
            });
        })
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/order.js") }}"></script>
{% endblock %}